# For 3rd party code: Disable warnings entirely.
# They are not actionable and just create noise.
build --per_file_copt=external/.*@-w
build --host_per_file_copt=external/.*@-w

# Load user-specific configuration, if any.
try-import %workspace%/user.bazelrc
